* {
  font-size: 25px;
  margin: 20px;
}

body {
  font-family: Montserrat, sans-serif;
  background-color:aliceblue
}

h1 {
  color: rgb(0, 0, 0);
  font-family: sans-serif;
  font-size: 40px;
  font-weight: bolder;
}

h2 {
  color: rgb(0, 0, 0);
  font-family: monospace;
  font-size: 30px;
  font-weight: bolder;
}

#turma {
  margin: 20px;
  padding: 20px;
  border-radius: 5px;
  font-family: Montserrat;
  font-size: 22px;
  color: aliceblue;
  background-color: rgb(44, 43, 43);
}

#dados_aluno {
  margin: 20px;
  padding: 20px;
  border-radius: 5px;
  font-family: Montserrat;
  font-size: 22px;
  color: aliceblue;
  background-color: rgb(44, 43, 43);
  line-height: 1.7;
}

#Notas {
  margin: 20px;
  padding: 20px;
  border-radius: 5px;
  font-family: Montserrat;
  font-size: 22px;
  color: aliceblue;
  background-color: rgb(44, 43, 43);
  line-height: 1.7;
}

p {
  font-family: System-ui;
  font-size: 27px;
  font-weight: Bolder;
}

